@page "/mods/{mod_id}/releases/create"
@using OpenModServer.Data.Releases
@model OpenModServer.Areas.Mods.Pages.Releases.CreateRelease

<h3>Creating a new release</h3>
<div>
    <form method="post" enctype="multipart/form-data">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="mb-3">
            <label asp-for="Name" class="form-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Type" class="form-label"></label>
            <select asp-for="Type" class="form-control" asp-items="Html.GetEnumSelectList<ModReleaseType>()">
            </select>
            <span asp-validation-for="Type" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Changelog" class="form-label"></label>
            <textarea asp-for="Changelog" class="form-control"></textarea>
            <span asp-validation-for="Changelog" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="UploadedFile" class="form-label">Upload file</label>
            <input asp-for="UploadedFile" type="file" class="form-control" />
            <span asp-validation-for="UploadedFile" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <input asp-for="AgreementChecked" class="form-check-input" type="checkbox" />
            <label asp-for="AgreementChecked" class="form-check-label">
                By checking this box, I agree with the Jackson's Mod Server User Agreement and that my upload 
                meets the regulations stipulated in the User Agreement.
            </label>
            <p>
                <span asp-validation-for="AgreementChecked" class="text-danger"></span>
            </p>
        </div>
        <div class="mb-3">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}