@page
@using System.Diagnostics
@using System.Reflection
@using Microsoft.AspNetCore.Identity
@using Microsoft.EntityFrameworkCore
@using OpenModServer.Data
@using OpenModServer.Data.Identity
@using OpenModServer.Structures
@model IndexModel
@inject OmsConfig Config
@inject SignInManager<OmsUser>  SignInManager
@inject RoleManager<OmsRole> RoleManager
@inject ApplicationDbContext DbContext

<h3>Welcome to @Config.Branding.Name</h3>
<div>
    This is an early-release site, and as such, many features are not implemented.
</div>
<div>
    Try clicking the 'Mods' tab above.
</div>
<div style="margin-top:30px;">
    @{
        var user = SignInManager.IsSignedIn(User);
        var isAwaitingSetup = (await RoleManager.Roles.ToListAsync()).Count == 0 && user;
    }
    @if (isAwaitingSetup)
    {
        <h3>Setup</h3>
        <div>
            This instance does not have any roles configured.
            Press this button to create a new role with all permissions and give it to you:
            <form method="post">
                <button asp-page-handler="InitSetup" type="submit" class="btn btn-sm btn-primary">Setup</button>
            </form>
        </div>
    }
</div>