@page "/users/{id}"
@using OpenModServer.Games
@model OpenModServer.Areas.Users.Pages.UserModel
@inject GameManager GameManager
@{
    ViewData["Title"] = Model.User.UserName;
}
<div class="d-flex align-items-center">
    <img src=@($"https://gravatar.com/avatar/{Model.User.GenerateMd5EmailHash()}") />
    <div class="m-4">
        <h2>@Model.User.UserName</h2>
        <div>This user has @Model.Mods.Count mods.</div>
    </div>
</div>
<div>
    <h3>Mods</h3>
    <ul>
        @foreach (var mod in Model.Mods)
        {
            <li>@mod.Name (for @GameManager.Resolve(mod.GameIdentifier).Name)</li>
        }
    </ul>
</div>