@page "/mods/create"
@using OpenModServer.Games
@model OpenModServer.Pages.CreateMod
@inject GameManager GameManager

<div>
    <form method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="DataModel.Name"></label>
            <input asp-for="DataModel.Name" class="form-control" />
            <span asp-validation-for="DataModel.Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="DataModel.Description"></label>
            <input asp-for="DataModel.Description" class="form-control" />
            <span asp-validation-for="DataModel.Description" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="DataModel.GameIdentifier"></label>
            <select class="form-control" asp-for="DataModel.GameIdentifier">
                @foreach (var game in GameManager.Games())
                {
                    <option value=@game.Identifier>@game.Name</option>
                }
            </select>
            <span asp-validation-for="DataModel.GameIdentifier" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}