@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">OpenModServer 1.0</h1>
    <p>Welcome @HttpContext.User.Identity?.Name.</p>
</div>