@page "/mods/{id}"
@model OpenModServer.Web.Pages.Mod

<div>
    @Model.Listing?.Name
</div>

<div>
    <h3>Releases</h3>
    <div>
        <table>
            <thead>
            <tr>
                <th>ID</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var release in Model.Listing?.Releases)
            {
                <tr>
                    <td><a href=@($"/mods/{Model.Listing?.Id}/releases/{release.Id}")>@release.Id</a></td>
                </tr>
                <tr></tr>
            }
            </tbody>
        </table>
    </div>
</div>