{
  "OpenModServer": {
    "Keys": {
      "VirusTotal": ""
    },
    "ExternalAuthentication": {
      "Discord": {
        "ClientId": "",
        "ClientSecret": ""
      }
    },
    "Paths": {
      "Uploads": "",
      "ReleaseScreenshots": "",
      "UserAccountPictures": ""
    },
  }
}
