@using System.Security.Cryptography
@using System.Text
@using Microsoft.AspNetCore.Identity
@using OpenModServer.Data.Identity
@inject SignInManager<OmsUser> SignInManager
@inject UserManager<OmsUser> UserManager
@inject RoleManager<IdentityRole<Guid>> RoleManager

@{
    string GetHashedEmail(string email)
    {
        if (string.IsNullOrEmpty(email) || string.IsNullOrEmpty(email.Trim()))
            throw new ArgumentException("The email is empty.", "email");
 
        var encoder = new UTF8Encoding();
        using var md5 = MD5.Create();
        var hashedBytes = md5.ComputeHash(encoder.GetBytes(email.ToLower()));
        var sb = new StringBuilder(hashedBytes.Length * 2);

        foreach (var t in hashedBytes) sb.Append(t.ToString("X2"));
        return sb.ToString().ToLower();
    }
}

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        @if (User.IsInRole("Administrator") || User.IsInRole("ApprovalModerator"))
        {
            <li class="nav-item d-flex align-items-center" style="margin-right:10px;">
                <div class="dropdown">
                    <button class="btn btn-warning dropdown-toggle" type="button" id="adminDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                        Admin
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="adminDropdown">
                        <li><a class="dropdown-item" asp-area="Admin" asp-page="/Files">View releases</a></li>
                        <li><a class="dropdown-item" asp-area="Admin" asp-page="/ModerationActions">View actions</a></li>
                        <li><a class="dropdown-item" asp-area="Admin" asp-page="/Mods">View mods</a></li>
                    </ul>
                </div>
            </li>
        }
        <li class="nav-item d-flex align-items-center">
            @{
                var user = await UserManager.GetUserAsync(User);
                var hash = user!.GenerateMd5EmailHash();
            }
            <div class="dropdown">
              <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                  <img alt="@User.Identity?.Name" width="24" height="24" src=@($"https://www.gravatar.com/avatar/{hash}?d=identicon")/>
                  @User.Identity?.Name
              </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" asp-area="Mods" asp-page="/CreateMod">Create new mod</a></li>
                    <li><a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">My account</a></li>
                    <li><a class="dropdown-item" asp-area="Users" asp-page="/User" asp-route-id=@user.Id>My profile</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li>
                        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                            <button type="submit" class="dropdown-item">Logout</button>
                        </form>
                    </li>
                </ul>
            </div>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-white" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>